
@import 'baguetteBox';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
// font-family: 'Roboto', sans-serif;

$transition: all .2s ease-in-out;

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

// SEARCHBAR

.searchbar {
    margin: 50px auto;
    display: block;
    width: 66%;
    max-width: 600px;
    height: 60px;
    text-indent: 20px;
    border: solid 2px rgb(204, 204, 204);
    border-radius: 10px;

    &::placeholder {
        font: 'Roboto', sans-serif 16px 500;
    }
}

//GALLERY

.gallery {
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 25px;

    img {
        transition: $transition;

        &:hover {
            border-radius: 10px;
            transform: scale(1.05);
        }
    }
}




